<div class="col-md-6 col-lg-4">
  <div class="portfolio-item mx-auto" data-toggle="modal" tabindex="100" data-target="<%= target_id %>">
    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
      <div class="portfolio-item-caption-content text-center text-white">
        <i class="fas fa-plus fa-3x"></i>
      </div>
    </div>
    <%= image_tag(image_url, class: "img-fluid") %>
  </div>
</div>